* {
	margin: 0px;
	padding: 0px;
}

/*
Autor: Alberto Díaz Arenas
Módulo: Desarrollo de Interfaces
Grado: Desarrollo de Aplicaciones Multiplataforma
Instituto: IES Virgen de la Paloma
*/

/* CSS HEADER */
#imgheader {
	visibility: hidden;
}

header {
	position:relative;
	width: 90%;
	min-width: 850px;
	overflow: visible;
	background-image: url(../images/swlogo.jpg);
	background-position: center; 
	background-repeat: no-repeat;
	background-color: rgb(0,0,0);
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1%;
	margin-bottom: 1%;
}

/* CSS BODY */
body {
	font-family:"century gothic";
	background-color:#888888;
}

/* CSS PANEL DE NAVEGACIÓN */
#navegacion {
	width: 88%;
	min-width: 850px;
	overflow:hidden;
	margin-top: 1%;
	margin-left: auto;
	margin-right: auto;
	padding: 1em;
	background-color:#cccccc;
	border-radius:15px;
	display: flex;
}

table {
	color: white;
	text-align: center;
	border-collapse: collapse;
}

td {
	background-color: rgb(51, 51, 51);
	width: 250px;
	padding-top: 5px;
	padding-bottom: 5px;
}

li a:hover {
    background-color: rgb(162,0,0);
	color: white;
} 

/* CSS REPRODUCTOR DE MÚSICA */
#reproductor {
	width: 57%;
	min-width: 800px;
	margin: 10px auto;
	padding: 7px 5px 5px 5px;
	background: #999999;
	border: 1px solid #666666;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
}

#reproducir, #silenciar, #prev, #next {
	padding: 2px 10px;
	width: 70px;
	border: 1px solid #000000;
	background: rgb(204, 204, 204);
	font-weight: bold;
	border-radius: 10px;
}

#settings {
	padding: 2px 10px;
	width: 120px;
	border: 1px solid #000000;
	background: rgb(204, 204, 204);
	font-weight: bold;
	border-radius: 10px;
	margin-left: 24px;
}

#botones, #botonesOrden {
	float: left;
	width: 150px;
	height: 20px;
	padding-left: 5px;
}

#barra {
	float: left;
	width: 300px;
	height: 14px;
	padding: 2px;
	margin: 0px 5px;
	border: 1px solid #CCCCCC;
	background: #EEEEEE;
}

#progreso {
	width: 0px;
	height: 14px;
	background: rgba(0,0,150,.2);
}
#clear {
	clear: both;
}

/* CSS BUSCADOR */
#divBusqueda {
	width: 350px;
	min-width: 300px;
	margin: 10px;
	padding: 7px 5px 5px 5px;
	background: #999999;
	border: 1px solid #666666;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
}

#botonBusqueda {
	padding: 2px 10px;
	width: 80px;
	border: 1px solid #000000;
	background: rgb(204, 204, 204);
	font-weight: bold;
	border-radius: 10px;
	margin-left: 28px;
}

#tooltip {
    position: relative;
	width: 20px;
    display: inline-block;
    border: 1px solid black;
	border-radius: 10px;
	font-family:"courier";
	text-align: center;
	background-color: rgb(255,255,90);
}

#tooltip #tooltiptext {
    visibility: hidden;
    width: 450px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -225px;
}

#tooltip #tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

#tooltip:hover #tooltiptext {
    visibility: visible;
}

/* CSS CONTENEDOR */
#contenedor {
	overflow: hidden;
	width: 88%;
	min-width: 850px;
	margin-top: 1%;
	margin-left: auto;
	margin-right: auto;
	padding: 30px 20px;
	background-color: rgb(204,204,204);
	border-radius: 15px;
}

/* CSS FOOTER */
footer {
	margin-top: 5px;
	padding: 1em;
	text-align: center;
	font-family: "courier";
}

#copyright {
	color: gray;
}